langchain
langchain-openai
langchain-community
langchain-huggingface
unstructured[local-inference,pdf,ppt,all-docs]
rank_bm25
tree_sitter
tree_sitter_languages
websockets
onnxruntime
optimum[onnxruntime]